appnope==0.1.0
arrow==0.4.2
astroid==1.3.8
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
BeautifulSoup==3.2.1
beautifulsoup4==4.3.1
biplist==0.5
bokeh==0.12.2
boto==2.38.0
boto3==1.2.3
botocore==1.3.30
bz2file==0.98
certifi==2015.9.6.2
cffi==1.3.0
click==6.6
configparser==3.5.0b2
crcmod==1.7
cryptography==1.0.2
cssselect==0.9.1
cycler==0.10.0
decorator==4.0.4
docutils==0.12
dropbox==6.9.0
enum34==1.0.3
facebookads==2.7.1
Flask==0.11.1
flup==1.0.2
fpconst==0.7.2
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.0.3
gcs-oauth2-boto-plugin==1.9
geoip2==2.1.0
gevent==1.0.2
gnureadline==6.3.3
google-api-python-client==1.5.1
google-apitools==0.4.8
googleads==4.2.0
greenlet==0.4.9
grequests==0.2.0
gsutil==4.13
httplib2==0.9.2
idna==2.0
ipaddr==2.1.11
ipaddress==1.0.14
ipdb==0.8.1
ipykernel==4.1.1
ipython==2.1.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
iso3166==0.7
itsdangerous==0.24
jdcal==1.0
Jinja2==2.8
jmespath==0.9.0
jsonschema==2.5.1
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
lockfile==0.11.0
logilab-common==1.1.0
lxml==3.4.4
Mako==0.7.2
MarkupSafe==0.23
matplotlib==1.5.3
maxminddb==1.2.0
mistune==0.7.1
mock==1.0.1
multi-key-dict==2.0.3
nbconvert==4.0.0
nbformat==4.0.1
networkx==1.11
notebook==4.0.6
numpy==1.6.1
oauth2==1.5.211
oauth2client==1.5.2
oauthlib==1.0.3
openpyxl==2.2.2
pandas==0.13.1
paramiko==1.11.0
parse==1.4.1
Paste==1.7.5.1
PasteDeploy==1.5.2
PasteScript==1.7.5
path.py==8.1.2
pathlib2==2.1.0
pbr==0.11.0
pep8==1.6.2
pexpect==4.0.1
pickleshare==0.5
premailer==1.12
prompt-toolkit==1.0.3
protobuf==3.1.0
protorpc==0.11.1
psutil==1.2.1
psycopg2==2.5
ptyprocess==0.5
py==1.4.30
pyasn1==0.1.8
pyasn1-modules==0.0.8
pycparser==2.14
pycrypto==2.6.1
Pygments==2.0.2
pylint==1.4.4
pyOpenSSL==0.15.1
pyparsing==2.1.9
PySocks==1.5.6
pytest==2.8.2
python-daemon==1.6.1
python-dateutil==2.5.3
python-gflags==2.0
python-jenkins==0.4.12
python-memcached==1.48
pytz==2016.7
PyYAML==3.11
pyzmq==14.7.0
qtconsole==4.1.0
rauth==0.6.2
redis==2.7.6
requests==2.10.0
requests-futures==0.9.7
requests-oauth2==0.2.0
requests-oauthlib==0.3.3
retry-decorator==1.0.0
rom==0.17
rpy2==2.8.2
rsa==3.1.4
scikit-learn==0.17.1
scipy==0.12.0
seaborn==0.7.1
setproctitle==1.1.8
shove==0.5.6
simplegeneric==0.8.1
simplejson==3.8.1
singledispatch==3.4.0.3
six==1.10.0
SocksiPy-branch==1.1
SQLAlchemy==0.9.1
sqlparse==0.1.14
stuf==0.9.4
suds-jurko==0.6
tensorflow==0.12.0rc0
terminado==0.5
tornado==4.4.2
tracebackturbo==0.1.1
traitlets==4.0.0
tron==0.6.0.2
Twisted==15.4.0
typing==3.5.2.2
uritemplate==0.6
urllib3==1.19.1
wcwidth==0.1.7
WebOb==1.2.2
WebTest==1.4.0
Werkzeug==0.9.6
xlrd==0.9.2
xmltodict==0.10.2
zope.interface==4.1.3